
<form method="post" action="/dog">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="breed" placeholder="Breed">
    <input type="number" name="weight">
    
    <input type="submit" value="Add dog">
</form>